.revealControls {
  position: fixed;
  bottom: 6vh;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vh;
  transition: opacity 0.33s;
  z-index: 100;
}
