.highlightEmbed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.33s;
  z-index: 100;

  [data-widget="highlight-mint-card"] {
    border: 0.5vh solid #000000;
    border-radius: 2vh;
    overflow: hidden;
  }
}

:global(.highlight-Modal-root) {
  opacity: 0 !important;
  z-index: -9999 !important;
}
